:root {
	--main-bg-color: #f7f4ea;
	--header-color: #23e3e7;
	--element-color: rgb(255, 186, 73);
	--dark-bg-color: #2a2d34;
}

body {
	background: var(--main-bg-color);
	color: black;
}

header,
nav {
	background-color: var(--header-color);
}

.settings,
.modal {
	background: var(--main-bg-color);
	color: black;
}
a {
	text-decoration: none;
	color: black;
}

button {
	background-color: var(--header-color);
	color: black;
}

nav button {
	background-color: var(--main-bg-color);
}
