:root {
	--dark-bg-color: #2a2d34;
	--header-color: #0f8b8d;
	--element-color: rgb(255, 186, 73);
}
body {
	background-color: var(--dark-bg-color);
	color: var(--element-color);
}
.settings,
.modal {
	background: var(--dark-bg-color);
}
a {
	text-decoration: none;
}

button {
	background-color: var(--element-color);
}

nav button {
	background-color: var(--element-color);
}
