body {
	background: white;
}

header {
	background-color: rgb(51, 215, 209);
}
nav {
	background: rgb(255, 186, 73);
}
.settings,
.modal {
	background: white;
	color: black;
}
a {
	text-decoration: none;
	color: rgb(8, 96, 95);
}
