:root {
	--main-bg-color: #f7f4ea;
	--header-color: #109193;
	--element-color: rgb(255, 186, 73);
	--dark-bg-color: #2a2d34;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;
}
body {
	background-color: var(--dark-bg-color);
	color: var(--element-color);
}
header,
nav {
	background-color: var(--header-color);
	color: var(--element-color);
}
.settings,
.modal {
	background: var(--dark-bg-color);
	color: var(--element-color);
}
a {
	text-decoration: none;
	color: var(--dark-bg-color);
}

button {
	background-color: var(--element-color);
}

nav button {
	background-color: var(--element-color);
}
